#--------------------------------- validation ---------------------------------------------
USERNAME_MIN_LEN=3
USERNAME_MAX_LEN=30

#--------------------------------- pre register otp verification ----------------------------
PRE_REGISTER_MAX_OTP_ATTEMPT_COUNT=3

#--------------------------------- login otp verification ----------------------------
LOGIN_MAX_OTP_ATTEMPT_COUNT=3
